
#wrapper {
    clear: left; float: left; position: relative; left: 33%;
    width: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
#wrapper > div {
    border-radius: 5px; 
    float: auto;
    width: 100px;
    text-align: center;
    padding:20px 0;
    font-size: 30px;
    border: solid rgb(194, 191, 191);
}
p {
    font-size: 40px;
    margin: 0px;
}
.Box {
    grid-row: 1;
}

.info {
    position:relative;
    top: -20px;
   font-size: 15px;
   color: rgb(204, 199, 199);
}